# Dependencies
node_modules/
.pnp
.pnp.js

# Production
.next/
out/
build/
dist/

# Development
.env
.env.local
.env.*.local
.DS_Store
*.pem

# Testing
.coverage/
coverage/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Misc
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Local development files
.vercel
Thumbs.db
.secrets
*.key